@model C3Spectra.APPositioningApp.Entity.User.UserViewModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spectra</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/media.css">
    <link REL="SHORTCUT ICON" href="~/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
</head>


@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{
<body>
    <main>
        <div class="main-inner">
            <div class="container cutom-container">
                <div class="col-xs-12 pade-none Sign-in-blank-main">
                    <div class="go-back-btton">
                        <div id="Back_Button">
                            <a href="@Url.Action("Login", "Account")">
                                <svg class="Icon_material_keyboard_backspa" viewBox="4.5 9 18 12">
                                    <path fill="rgba(0,89,178,1)" id="Icon_material_keyboard_backspa" d="M 22.5 13.99999904632568 L 8.330000877380371 13.99999904632568 L 11.91000080108643 10.40999984741211 L 10.5 9 L 4.5 14.99999904632568 L 10.5 20.99999809265137 L 11.91000080108643 19.58999824523926 L 8.330000877380371 15.99999904632568 L 22.5 15.99999904632568 L 22.5 13.99999904632568 Z">
                                    </path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <header class="Sign-in-logo">
                        <a href="#"><img src="~/images/Sign_in_spectra_logo.png" alt="Logo"></a>
                    </header>

                    <div class="col-xs-12 pade-none sign-in-featured-out">
                        <div class="col-xs-12 pade-none sign-in-featured-inner">
                            <h2>Forgot Password?</h2>
                            <p>Enter the email address associated with <br> your account and we'll send instructions to<br> reset your password.</p>
                        </div>
                    </div>

                    <div class="col-xs-12 pade-none sign-in-form forget-form-out">
                        <form action="" method="">
                            <div class="col-xs-12 pade-none ">
                                <div class="col-xs-12 pade-none sign-in-form-field">
                                    <label class="control-label" for="inputNormal">Email</label>
                                    @*<input type="text" class="form-control" id="inputNormal" placeholder="" />*@
                                    @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", id = "Myid", autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-xs-12 pade-none sign-in-login-button ">
                                @*<input type="button" value="Send" class="custom-button" name="Send" id="submit1"  />*@
                                <button type="submit" class="custom-button" value="Login" name="Send" id="submit1">Send</button>
                            </div>
                        </form>
                    </div>



                </div>
            </div>
        </div>


    </main>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @*<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.js"></script>*@
    <script type="text/javascript" src="~/lib/jquery/dist/jquery-2.2.4.js"></script>
    <script>

        $(".button-search-location").click(function () {
            $(".search_header").toggleClass("show");
            $("#Search_Icon").toggleClass("hide");
            $(".close-button").toggleClass("show");
        });
    </script>
    <script type="text/javascript">
        //<![CDATA[

        $(window).load(function () {

            $('.form-control').on('focus blur', function (e) {
                $(this).parents('.sign-in-form-field').toggleClass('focused', (e.type === 'focus' || this.value.length > 0));
            }).trigger('blur');

        });

        //]]>
    </script>

    <script>



        $("#Myid").keyup(function () {
            if ($('#Myid').val() != "") {
                $("#submit1").prop('disabled', false);
                //$('#Full_Width_Button___Disabled').css('background', '#0000FF');
                //$('#sendtext').css('background', '#FFFFFF');
            }
            else {
                $("#submit1").prop('disabled', true);

            }
        });
    </script>

</body>


}



</html>














