

@{
    ViewBag.Title = "OutdoorStep1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<main>
    <div class="main-inner">
        <div class="col-xs-12 pade-none header-tabs">
            <div class="container cutom-container">
                <div class="row">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="http://45.63.16.67/~webchefz/devsites/Spectra/index.html#OutDoor" data-toggle="tab">OutDoor</a>
                        </li>
                        <li>
                            <a href="http://45.63.16.67/~webchefz/devsites/Spectra/index.html#inDoor" data-toggle="tab">inDoor</a>
                        </li>
                        <li>
                            <a href="http://45.63.16.67/~webchefz/devsites/Spectra/index.html#Settings" data-toggle="tab">Settings</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-12 pade-none tab-content ">
                <div class="tab-pane active" id="OutDoor">

                    <div id="map" style="height:500px;width:100%;">
                        <div class="on-map-option-outer" style="z-index:1000;">
                            <div class="on-map-option-grid button-map-location" onclick="RecenterIcon();">
                                <svg width="145" height="180" viewBox="0 0 145 180" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url()">
                                        <path d="M117.292 69H102.743C101.325 54.38 89.662 42.716 75.042 41.298V26.5H69.042V41.298C54.421 42.716 42.757 54.38 41.339 69H26.791V75H41.339C42.757 89.62 54.421 101.283 69.041 102.701V117.5H75.041V102.701C89.661 101.283 101.324 89.62 102.742 75H117.291V69H117.292ZM72.041 96.85C58.339 96.85 47.191 85.703 47.191 72C47.191 58.297 58.338 47.15 72.041 47.15C85.744 47.15 96.891 58.297 96.891 72C96.891 85.703 85.744 96.85 72.041 96.85Z" fill="black"></path>
                                        <path d="M72.041 88.459C81.1311 88.459 88.5 81.0901 88.5 72C88.5 62.91 81.1311 55.541 72.041 55.541C62.951 55.541 55.582 62.91 55.582 72C55.582 81.0901 62.951 88.459 72.041 88.459Z" fill="black"></path>
                                    </g>
                                    <defs>
                                        <clippath>
                                            <rect width="144.083" height="180" fill="white"></rect>
                                        </clippath>
                                    </defs>
                                </svg>
                            </div>
                            <div class="on-map-option-grid button-map-setting">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" onclick="showCalculateDeclinationfn();" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 244 231" style="enable-background:new 0 0 244 231;" xml:space="preserve">

                                <g id="Background_xA0_Image_1_">
                    </g>
                                <g id="Rectangle_1_1_" class="st0">
                                <g id="Rectangle_1">
                                <g>
                                <rect x="121" y="23.6" class="st1" width="19.5" height="194.5"></rect>
                    </g>
                    </g>
                    </g>
                                <g id="Rectangle_2_1_" class="st0">
                                <g id="Rectangle_2_3_">
                                <g>
                                <rect x="149.9" y="52.8" class="st1" width="29.2" height="19.5"></rect>
                    </g>
                    </g>
                    </g>
                                <g id="Rectangle_2_copy_1_" class="st0">
                                <g id="Rectangle_2_copy_3_">
                                <g>
                                <rect x="149.9" y="169.5" class="st1" width="48.6" height="19.5"></rect>
                    </g>
                    </g>
                    </g>
                                <g id="Rectangle_2_copy_2_1_" class="st0">
                                <g id="Rectangle_2_copy_2_3_">
                                <g>
                                <rect x="149.9" y="111.2" class="st1" width="68.1" height="19.5"></rect>
                    </g>
                    </g>
                    </g>
                                <g id="Rectangle_2_copy_3_5_" class="st0">
                                <g id="Rectangle_2_copy_3">
                                <g>
                                <rect x="62.9" y="52.8" class="st1" width="48.6" height="19.5"></rect>
                    </g>
                    </g>
                    </g>
                                <g id="Rectangle_2_copy_3_4_" class="st0">
                                <g id="Rectangle_2_copy_3_10_">
                                <g>
                                <rect x="72.6" y="169.5" class="st1" width="38.9" height="19.5"></rect>
                    </g>
                    </g>
                    </g>
                                <g id="Rectangle_2_copy_3_3_" class="st0">
                                <g id="Rectangle_2_copy_3_2_">
                                <g>
                                <rect x="24" y="111.2" class="st1" width="87.5" height="19.5"></rect>
                    </g>
                    </g>
                    </g>
                    </svg>
                            </div>
                            <div class="button-search-main">
                                <div id="Component_A28_Component_905" class="on-map-option-grid Component button-search-location">
                                    <div id="Search_Icon" class="hide">
                                        <div id="Search_Icon_A28_Group_671">
                                            <svg class="Search_Icon1 search-button" viewBox="0 0 16.172 15.973">
                                                <path fill="rgba(91,94,98,1)" id="Search_Icon1" d="M 10.06738758087158 11.1132984161377 C 7.501212596893311 13.13077545166016 3.812197685241699 12.82206916809082 1.617020845413208 10.40614891052246 C -0.5781553387641907 7.990230560302734 -0.5330569744110107 4.288596630096436 1.720328569412231 1.926875948905945 C 3.973711967468262 -0.4348436594009399 7.669152736663818 -0.6535825729370117 10.18541431427002 1.42581582069397 C 12.70167636871338 3.505215644836426 13.18313980102539 7.175682544708252 11.28829383850098 9.833694458007812 L 16.17192268371582 14.71732330322266 L 14.91579627990723 15.97344970703125 L 10.06738758087158 11.1132984161377 Z M 6.263791561126709 10.64371871948242 C 8.670387268066406 10.66719722747803 10.67784023284912 8.694963455200195 10.70131874084473 6.253148078918457 C 10.72401142120361 3.8023681640625 8.755658149719238 1.797223567962646 6.304879665374756 1.774531245231628 C 3.854100704193115 1.751838564872742 1.848955392837524 3.720191955566406 1.826263189315796 6.170970916748047 C 1.791043996810913 8.601047515869141 3.775018692016602 10.60850048065186 6.252051830291748 10.63197994232178 L 6.263791561126709 10.64371871948242 Z">
                                                </path>
                                            </svg>
                                        </div>
                                        <svg class="Rectangle_222">
                                            <rect fill="transparent" id="Rectangle_222" rx="0" ry="0" x="0" y="0" width="24" height="24">
                                            </rect>
                                        </svg>
                                    </div>
                                    <div class="close-button show">
                                        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0)">
                                                <path d="M28.228 23.986L47.092 5.12198C48.264 3.95098 48.264 2.05098 47.092 0.879977C45.92 -0.292023 44.022 -0.292023 42.85 0.879977L23.986 19.744L5.121 0.879977C3.949 -0.292023 2.051 -0.292023 0.879 0.879977C-0.293 2.05098 -0.293 3.95098 0.879 5.12198L19.744 23.986L0.879 42.85C-0.293 44.021 -0.293 45.921 0.879 47.092C1.465 47.677 2.233 47.97 3 47.97C3.767 47.97 4.535 47.677 5.121 47.091L23.986 28.227L42.85 47.091C43.436 47.677 44.204 47.97 44.971 47.97C45.738 47.97 46.506 47.677 47.092 47.091C48.264 45.92 48.264 44.02 47.092 42.849L28.228 23.986Z" fill="black"></path>
                                            </g>
                                            <defs>
                                                <clipPath id="clip0">
                                                    <rect width="47.971" height="47.971" fill="white"></rect>
                                                </clipPath>
                                            </defs>
                                        </svg>

                                    </div>
                                </div>
                                <div class="search_header show">
                                    <div class="search-input-icon">
                                        <svg class="search9" viewBox="0 0 16.172 15.973">
                                            <path fill="rgba(91,94,98,1)" id="search9" d="M 10.06738758087158 11.1132984161377 C 7.501212596893311 13.13077545166016 3.812197685241699 12.82206916809082 1.617020845413208 10.40614891052246 C -0.5781553387641907 7.990230560302734 -0.5330569744110107 4.288596630096436 1.720328569412231 1.926875948905945 C 3.973711967468262 -0.4348436594009399 7.669152736663818 -0.6535825729370117 10.18541431427002 1.42581582069397 C 12.70167636871338 3.505215644836426 13.18313980102539 7.175682544708252 11.28829383850098 9.833694458007812 L 16.17192268371582 14.71732330322266 L 14.91579627990723 15.97344970703125 L 10.06738758087158 11.1132984161377 Z M 6.263791561126709 10.64371871948242 C 8.670387268066406 10.66719722747803 10.67784023284912 8.694963455200195 10.70131874084473 6.253148078918457 C 10.72401142120361 3.8023681640625 8.755658149719238 1.797223567962646 6.304879665374756 1.774531245231628 C 3.854100704193115 1.751838564872742 1.848955392837524 3.720191955566406 1.826263189315796 6.170970916748047 C 1.791043996810913 8.601047515869141 3.775018692016602 10.60850048065186 6.252051830291748 10.63197994232178 L 6.263791561126709 10.64371871948242 Z">
                                            </path>
                                        </svg>
                                    </div>
                                    <label class="search-input" for="searchtext10" style="display: none;"></label>
                                    <a class="search-button" href="#" title="Search..." style=""></a>
                                    <input type="text" name="Search Address" placeholder="Search Address" class="search_headr_top search-input" id="searchtext10"><i class="show_div fa fa-search fa-flip-horizontal" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="map-inner" id="divInnerButtons"  style="z-index:1000">
                            <div class="add-cpe-button">
                                <a href="http://45.63.16.67/~webchefz/devsites/Spectra/index.html#">
                                    <svg class="Ellipse_118_A27_Ellipse_487">
                                        <ellipse fill="rgba(0,213,110,1)" stroke="rgba(255,255,255,1)" stroke-width="2.5px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Ellipse_118_A27_Ellipse_487" rx="9" ry="9" cx="9" cy="9">
                                        </ellipse>
                                    </svg> Add CPE
                                </a>
                            </div>
                            <div class="add-cpe-button">
                                @*<a href="http://45.63.16.67/~webchefz/devsites/Spectra/index.html#">
                    <svg class="Union_9_A27_BooleanGroup_70" viewBox="-0.096 -0.067 18.973 17.346">
                        <path fill="rgba(0,115,255,1)" stroke="rgba(255,255,255,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="10" shape-rendering="auto" id="Union_9_A27_BooleanGroup_70" d="M 14.52267456054688 17.16893005371094 C 14.27116870880127 17.13799667358398 14.02193641662598 17.08161163330078 13.78124046325684 17.0023250579834 C 13.53427886962891 16.9210090637207 13.29377746582031 16.81421279907227 13.06599521636963 16.68500328063965 C 12.70425796508789 16.47939300537109 12.33225345611572 16.17159461975098 11.96039581298828 15.76932430267334 C 11.61295318603516 15.39283466339111 11.27491188049316 14.94516277313232 10.95456409454346 14.43767166137695 C 10.83916568756104 14.25368881225586 10.72694206237793 14.06449222564697 10.61946392059326 13.87059020996094 C 10.52025127410889 13.69168376922607 10.42473220825195 13.50859832763672 10.33341407775879 13.32340812683105 C 10.14770412445068 12.94370460510254 9.984522819519043 12.5607271194458 9.847976684570312 12.1853494644165 C 9.71039867401123 11.80790233612061 9.603592872619629 11.44529247283936 9.530104637145996 11.10736465454102 C 9.458120346069336 10.77877044677734 9.41889476776123 10.48005199432373 9.413430213928223 10.21743202209473 L 9.413957595825195 10.21690940856934 C 9.413961410522461 10.21638965606689 9.413965225219727 10.21587085723877 9.413965225219727 10.21587085723877 L 10.10582160949707 9.919796943664551 L 10.14201927185059 9.90760326385498 L 10.25584602355957 9.870466232299805 C 10.58996486663818 9.764298439025879 10.96269798278809 9.673952102661133 11.36356067657471 9.602094650268555 C 11.7623291015625 9.530252456665039 12.18136978149414 9.477991104125977 12.60810947418213 9.446959495544434 C 12.81703090667725 9.431475639343262 13.02539253234863 9.421184539794922 13.232666015625 9.41661262512207 C 13.45721530914307 9.411399841308594 13.68015193939209 9.411908149719238 13.89938354492188 9.418671607971191 C 14.50631809234619 9.437762260437012 15.0700216293335 9.501797676086426 15.57480049133301 9.609851837158203 C 16.11458969116211 9.724926948547363 16.57187843322754 9.887818336486816 16.93361854553223 10.09342765808105 C 17.16139984130859 10.22263622283936 17.37541580200195 10.3742618560791 17.57046127319336 10.54418849945068 C 17.76083374023438 10.70947647094727 17.93484115600586 10.89408588409424 18.08834266662598 11.09233570098877 C 18.23872566223145 11.28749370574951 18.37068557739258 11.49783325195312 18.48059463500977 11.71819305419922 C 18.58946990966797 11.93648052215576 18.67733573913574 12.1658182144165 18.74213409423828 12.40050888061523 C 18.80640983581543 12.63520336151123 18.84813499450684 12.87680625915527 18.86631011962891 13.11857223510742 C 18.88446235656738 13.36293411254883 18.87800025939941 13.61006546020508 18.84802436828613 13.85216999053955 C 18.81696510314941 14.09895515441895 18.76080322265625 14.34384059906006 18.68115043640137 14.58006572723389 C 18.59883689880371 14.82253837585449 18.49092864990234 15.05844593048096 18.35955429077148 15.28205680847168 C 18.35743141174316 15.28622436523438 18.35478973388672 15.28987693786621 18.35266876220703 15.29352569580078 C 18.35055160522461 15.29717445373535 18.34842681884766 15.30134201049805 18.3463077545166 15.3049898147583 C 18.21493530273438 15.52860355377197 18.0611515045166 15.73887634277344 17.88918876647949 15.9300708770752 C 17.72092628479004 16.11604881286621 17.53341293334961 16.28606986999512 17.33191299438477 16.43594741821289 C 17.13356971740723 16.58320617675781 16.91913604736328 16.71188926696777 16.6954345703125 16.8188362121582 C 16.47331619262695 16.92421531677246 16.23982810974121 17.00943183898926 16.0007438659668 17.07184600830078 C 15.76218700408936 17.13373947143555 15.5159330368042 17.17388153076172 15.26932621002197 17.19015312194824 C 15.1911039352417 17.1954460144043 15.11250877380371 17.19837188720703 15.03385448455811 17.19892501831055 C 14.86295795440674 17.20012664794922 14.69168376922607 17.19013595581055 14.52267456054688 17.16893005371094 Z M 3.457541465759277 17.27322387695312 C 3.211140632629395 17.26041984558105 2.965955495834351 17.22373390197754 2.727729082107544 17.16519355773926 C 2.489505767822266 17.10613632202148 2.257201910018921 17.02419662475586 2.037078857421875 16.92192649841309 C 1.814349889755249 16.81811904907227 1.601719498634338 16.69244003295898 1.405969142913818 16.54795265197754 C 1.206050515174866 16.40089797973633 1.020929455757141 16.23349761962891 0.855810284614563 16.04986381530762 C 0.6860176920890808 15.86107349395752 0.5352022647857666 15.6529426574707 0.4069873094558716 15.43115615844727 C 0.4049195945262909 15.4275369644165 0.4028556048870087 15.4233980178833 0.4007879197597504 15.41977977752686 C 0.3987202346324921 15.41615962982178 0.3961291909217834 15.4125452041626 0.3940652012825012 15.40840625762939 C 0.2658501267433167 15.18662071228027 0.161274790763855 14.95220851898193 0.08291545510292053 14.71086502075195 C 0.006082044914364815 14.47574043273926 -0.04661408811807632 14.23162078857422 -0.07417406141757965 13.98524856567383 C -0.1007204502820969 13.74354076385498 -0.1031553149223328 13.49647235870361 -0.08205723017454147 13.25183391571045 C -0.06045419350266457 13.00978851318359 -0.01529981009662151 12.76757431030273 0.05283470824360847 12.53194904327393 C 0.1204458475112915 12.29632759094238 0.2120949178934097 12.06572723388672 0.3235544264316559 11.8458890914917 C 0.4365988373756409 11.62396144866943 0.5715544819831848 11.41174507141113 0.7247211933135986 11.21445274353027 C 0.8810501098632812 11.01402282714844 1.058217763900757 10.82694435119629 1.250427007675171 10.65896606445312 C 1.447902798652649 10.48627853393555 1.664090871810913 10.33162689208984 1.893728017807007 10.19920253753662 C 2.258418083190918 9.988483428955078 2.718062162399292 9.819143295288086 3.260062694549561 9.696459770202637 C 3.766422986984253 9.581295013427734 4.330567359924316 9.509326934814453 4.937833786010742 9.481697082519531 C 5.157182216644287 9.47184944152832 5.380149841308594 9.468205451965332 5.604646682739258 9.470259666442871 C 5.81187629699707 9.471917152404785 6.020635604858398 9.479273796081543 6.228835105895996 9.491825103759766 C 6.65570068359375 9.516852378845215 7.073518753051758 9.563227653503418 7.471307754516602 9.629467964172363 C 7.871191024780273 9.695694923400879 8.242681503295898 9.780807495117188 8.575326919555664 9.882285118103027 C 8.779287338256836 9.943962097167969 9.095860481262207 10.05117702484131 9.278670310974121 10.12784004211426 C 9.093592643737793 10.00363731384277 8.899674415588379 9.849258422851562 8.699837684631348 9.667026519775391 C 8.444526672363281 9.434714317321777 8.183756828308105 9.160394668579102 7.925311088562012 8.853354454040527 C 7.668432235717773 8.546823501586914 7.418018341064453 8.214292526245117 7.182387828826904 7.863489627838135 C 7.067950248718262 7.691438674926758 6.956663131713867 7.517807483673096 6.851672172546387 7.342056274414062 C 6.737363815307617 7.151836395263672 6.629343032836914 6.96053409576416 6.528132438659668 6.768145561218262 C 6.248773574829102 6.237007617950439 6.030017375946045 5.720496654510498 5.878052711486816 5.231547832489014 C 5.715341091156006 4.708413600921631 5.634985446929932 4.231937885284424 5.637933731079102 3.816128253936768 C 5.639792919158936 3.553976058959961 5.667288780212402 3.29268217086792 5.720382690429688 3.037955760955811 C 5.771857738494873 2.789989233016968 5.847901344299316 2.546002626419067 5.9468994140625 2.312236070632935 C 6.043770790100098 2.083156824111938 6.163088321685791 1.862224459648132 6.301671028137207 1.655172228813171 C 6.43919563293457 1.449684739112854 6.596515655517578 1.257035136222839 6.769942760467529 1.080883145332336 C 6.943366050720215 0.9052501916885376 7.133946418762207 0.7455882430076599 7.336420059204102 0.6060870885848999 C 7.540995121002197 0.4655329585075378 7.759560585021973 0.3446057438850403 7.985814571380615 0.2464643269777298 C 8.216790199279785 0.1467324495315552 8.458075523376465 0.06924878805875778 8.702846527099609 0.01665680296719074 C 8.954952239990234 -0.03702495247125626 9.213677406311035 -0.06479889899492264 9.472743034362793 -0.06662087887525558 C 9.477452278137207 -0.06665399670600891 9.48163890838623 -0.06668344885110855 9.486350059509277 -0.06671657413244247 C 9.490536689758301 -0.06674601882696152 9.494724273681641 -0.06677547097206116 9.499434471130371 -0.06680859625339508 C 9.758499145507812 -0.06863057613372803 10.01685523986816 -0.04449322074651718 10.26770210266113 0.005651315208524466 C 10.51227569580078 0.05480178818106651 10.75248527526855 0.1288991570472717 10.98206901550293 0.2253919541835785 C 11.20695400238037 0.3203605711460114 11.42382717132568 0.4382253587245941 11.62642860412598 0.5759158730506897 C 11.82694435119629 0.7125828266143799 12.01527881622314 0.8695799112319946 12.18622875213623 1.04279088973999 C 12.35717487335205 1.216521024703979 12.51177787780762 1.406976938247681 12.64640426635742 1.610550403594971 C 12.78206348419189 1.815673828125 12.89825916290283 2.034949779510498 12.99189281463623 2.262689352035522 C 13.08758449554443 2.495086669921875 13.16017627716064 2.738027811050415 13.20814037322998 2.985295057296753 C 13.25762557983398 3.239300012588501 13.281418800354 3.500233173370361 13.27956008911133 3.762385368347168 C 13.27661228179932 4.178194999694824 13.18949222564697 4.655848979949951 13.0193452835083 5.181323528289795 C 12.86043071746826 5.672459125518799 12.63432788848877 6.192098617553711 12.34688568115234 6.727222442626953 C 12.2434606552124 6.921050548553467 12.13271522521973 7.1138916015625 12.01569747924805 7.30573844909668 C 11.90767955780029 7.482987880706787 11.79444217681885 7.658197402954102 11.67703151702881 7.831879138946533 C 11.43640232086182 8.186032295227051 11.18177032470703 8.522114753723145 10.92051792144775 8.83228874206543 C 10.65769386291504 9.14299488067627 10.3930082321167 9.421010971069336 10.13437557220459 9.656937599182129 C 9.885631561279297 9.88432502746582 9.646391868591309 10.0695629119873 9.422215461730957 10.20817375183105 C 9.422266006469727 10.21163177490234 9.419121742248535 10.21424388885498 9.412394523620605 10.21588134765625 C 9.412394523620605 10.21588134765625 9.41239070892334 10.21640014648438 9.412386894226074 10.21691989898682 L 9.413430213928223 10.21743202209473 C 9.403717041015625 10.48015880584717 9.360251426696777 10.77945804595947 9.284123420715332 11.10909461975098 C 9.205312728881836 11.44809341430664 9.093353271484375 11.81224250793457 8.950932502746582 12.19165802001953 C 8.809048652648926 12.56899452209473 8.639895439147949 12.95430850982666 8.448782920837402 13.33666324615479 C 8.354830741882324 13.52315616607666 8.257227897644043 13.70759963989258 8.154945373535156 13.88792324066162 C 8.044706344604492 14.0833568572998 7.930311679840088 14.27414608001709 7.811768531799316 14.4597749710083 C 7.48419189453125 14.97182273864746 7.139767646789551 15.42429351806641 6.786950588226318 15.80570793151855 C 6.409351825714111 16.21324920654297 6.03294563293457 16.52631187438965 5.668255805969238 16.73703002929688 C 5.438618659973145 16.86945724487305 5.196578979492188 16.97964668273926 4.948439121246338 17.06444549560547 C 4.707118034362793 17.14712142944336 4.456538200378418 17.20702171325684 4.204568386077881 17.24149703979492 C 4.035241603851318 17.26508140563965 3.863809108734131 17.2774829864502 3.692912340164185 17.27868461608887 C 3.614257574081421 17.27923774719238 3.535697460174561 17.27741813659668 3.457541465759277 17.27322387695312 Z">
                        </path>
                    </svg>Add AP
                </a>*@
                                @*<a href="#">
                    <svg class="Union_9_A27_BooleanGroup_70" viewBox="-0.096 -0.067 18.973 17.346">
                        <path fill="rgba(0,115,255,1)" stroke="rgba(255,255,255,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="10" shape-rendering="auto" id="Union_9_A27_BooleanGroup_70" d="M 14.52267456054688 17.16893005371094 C 14.27116870880127 17.13799667358398 14.02193641662598 17.08161163330078 13.78124046325684 17.0023250579834 C 13.53427886962891 16.9210090637207 13.29377746582031 16.81421279907227 13.06599521636963 16.68500328063965 C 12.70425796508789 16.47939300537109 12.33225345611572 16.17159461975098 11.96039581298828 15.76932430267334 C 11.61295318603516 15.39283466339111 11.27491188049316 14.94516277313232 10.95456409454346 14.43767166137695 C 10.83916568756104 14.25368881225586 10.72694206237793 14.06449222564697 10.61946392059326 13.87059020996094 C 10.52025127410889 13.69168376922607 10.42473220825195 13.50859832763672 10.33341407775879 13.32340812683105 C 10.14770412445068 12.94370460510254 9.984522819519043 12.5607271194458 9.847976684570312 12.1853494644165 C 9.71039867401123 11.80790233612061 9.603592872619629 11.44529247283936 9.530104637145996 11.10736465454102 C 9.458120346069336 10.77877044677734 9.41889476776123 10.48005199432373 9.413430213928223 10.21743202209473 L 9.413957595825195 10.21690940856934 C 9.413961410522461 10.21638965606689 9.413965225219727 10.21587085723877 9.413965225219727 10.21587085723877 L 10.10582160949707 9.919796943664551 L 10.14201927185059 9.90760326385498 L 10.25584602355957 9.870466232299805 C 10.58996486663818 9.764298439025879 10.96269798278809 9.673952102661133 11.36356067657471 9.602094650268555 C 11.7623291015625 9.530252456665039 12.18136978149414 9.477991104125977 12.60810947418213 9.446959495544434 C 12.81703090667725 9.431475639343262 13.02539253234863 9.421184539794922 13.232666015625 9.41661262512207 C 13.45721530914307 9.411399841308594 13.68015193939209 9.411908149719238 13.89938354492188 9.418671607971191 C 14.50631809234619 9.437762260437012 15.0700216293335 9.501797676086426 15.57480049133301 9.609851837158203 C 16.11458969116211 9.724926948547363 16.57187843322754 9.887818336486816 16.93361854553223 10.09342765808105 C 17.16139984130859 10.22263622283936 17.37541580200195 10.3742618560791 17.57046127319336 10.54418849945068 C 17.76083374023438 10.70947647094727 17.93484115600586 10.89408588409424 18.08834266662598 11.09233570098877 C 18.23872566223145 11.28749370574951 18.37068557739258 11.49783325195312 18.48059463500977 11.71819305419922 C 18.58946990966797 11.93648052215576 18.67733573913574 12.1658182144165 18.74213409423828 12.40050888061523 C 18.80640983581543 12.63520336151123 18.84813499450684 12.87680625915527 18.86631011962891 13.11857223510742 C 18.88446235656738 13.36293411254883 18.87800025939941 13.61006546020508 18.84802436828613 13.85216999053955 C 18.81696510314941 14.09895515441895 18.76080322265625 14.34384059906006 18.68115043640137 14.58006572723389 C 18.59883689880371 14.82253837585449 18.49092864990234 15.05844593048096 18.35955429077148 15.28205680847168 C 18.35743141174316 15.28622436523438 18.35478973388672 15.28987693786621 18.35266876220703 15.29352569580078 C 18.35055160522461 15.29717445373535 18.34842681884766 15.30134201049805 18.3463077545166 15.3049898147583 C 18.21493530273438 15.52860355377197 18.0611515045166 15.73887634277344 17.88918876647949 15.9300708770752 C 17.72092628479004 16.11604881286621 17.53341293334961 16.28606986999512 17.33191299438477 16.43594741821289 C 17.13356971740723 16.58320617675781 16.91913604736328 16.71188926696777 16.6954345703125 16.8188362121582 C 16.47331619262695 16.92421531677246 16.23982810974121 17.00943183898926 16.0007438659668 17.07184600830078 C 15.76218700408936 17.13373947143555 15.5159330368042 17.17388153076172 15.26932621002197 17.19015312194824 C 15.1911039352417 17.1954460144043 15.11250877380371 17.19837188720703 15.03385448455811 17.19892501831055 C 14.86295795440674 17.20012664794922 14.69168376922607 17.19013595581055 14.52267456054688 17.16893005371094 Z M 3.457541465759277 17.27322387695312 C 3.211140632629395 17.26041984558105 2.965955495834351 17.22373390197754 2.727729082107544 17.16519355773926 C 2.489505767822266 17.10613632202148 2.257201910018921 17.02419662475586 2.037078857421875 16.92192649841309 C 1.814349889755249 16.81811904907227 1.601719498634338 16.69244003295898 1.405969142913818 16.54795265197754 C 1.206050515174866 16.40089797973633 1.020929455757141 16.23349761962891 0.855810284614563 16.04986381530762 C 0.6860176920890808 15.86107349395752 0.5352022647857666 15.6529426574707 0.4069873094558716 15.43115615844727 C 0.4049195945262909 15.4275369644165 0.4028556048870087 15.4233980178833 0.4007879197597504 15.41977977752686 C 0.3987202346324921 15.41615962982178 0.3961291909217834 15.4125452041626 0.3940652012825012 15.40840625762939 C 0.2658501267433167 15.18662071228027 0.161274790763855 14.95220851898193 0.08291545510292053 14.71086502075195 C 0.006082044914364815 14.47574043273926 -0.04661408811807632 14.23162078857422 -0.07417406141757965 13.98524856567383 C -0.1007204502820969 13.74354076385498 -0.1031553149223328 13.49647235870361 -0.08205723017454147 13.25183391571045 C -0.06045419350266457 13.00978851318359 -0.01529981009662151 12.76757431030273 0.05283470824360847 12.53194904327393 C 0.1204458475112915 12.29632759094238 0.2120949178934097 12.06572723388672 0.3235544264316559 11.8458890914917 C 0.4365988373756409 11.62396144866943 0.5715544819831848 11.41174507141113 0.7247211933135986 11.21445274353027 C 0.8810501098632812 11.01402282714844 1.058217763900757 10.82694435119629 1.250427007675171 10.65896606445312 C 1.447902798652649 10.48627853393555 1.664090871810913 10.33162689208984 1.893728017807007 10.19920253753662 C 2.258418083190918 9.988483428955078 2.718062162399292 9.819143295288086 3.260062694549561 9.696459770202637 C 3.766422986984253 9.581295013427734 4.330567359924316 9.509326934814453 4.937833786010742 9.481697082519531 C 5.157182216644287 9.47184944152832 5.380149841308594 9.468205451965332 5.604646682739258 9.470259666442871 C 5.81187629699707 9.471917152404785 6.020635604858398 9.479273796081543 6.228835105895996 9.491825103759766 C 6.65570068359375 9.516852378845215 7.073518753051758 9.563227653503418 7.471307754516602 9.629467964172363 C 7.871191024780273 9.695694923400879 8.242681503295898 9.780807495117188 8.575326919555664 9.882285118103027 C 8.779287338256836 9.943962097167969 9.095860481262207 10.05117702484131 9.278670310974121 10.12784004211426 C 9.093592643737793 10.00363731384277 8.899674415588379 9.849258422851562 8.699837684631348 9.667026519775391 C 8.444526672363281 9.434714317321777 8.183756828308105 9.160394668579102 7.925311088562012 8.853354454040527 C 7.668432235717773 8.546823501586914 7.418018341064453 8.214292526245117 7.182387828826904 7.863489627838135 C 7.067950248718262 7.691438674926758 6.956663131713867 7.517807483673096 6.851672172546387 7.342056274414062 C 6.737363815307617 7.151836395263672 6.629343032836914 6.96053409576416 6.528132438659668 6.768145561218262 C 6.248773574829102 6.237007617950439 6.030017375946045 5.720496654510498 5.878052711486816 5.231547832489014 C 5.715341091156006 4.708413600921631 5.634985446929932 4.231937885284424 5.637933731079102 3.816128253936768 C 5.639792919158936 3.553976058959961 5.667288780212402 3.29268217086792 5.720382690429688 3.037955760955811 C 5.771857738494873 2.789989233016968 5.847901344299316 2.546002626419067 5.9468994140625 2.312236070632935 C 6.043770790100098 2.083156824111938 6.163088321685791 1.862224459648132 6.301671028137207 1.655172228813171 C 6.43919563293457 1.449684739112854 6.596515655517578 1.257035136222839 6.769942760467529 1.080883145332336 C 6.943366050720215 0.9052501916885376 7.133946418762207 0.7455882430076599 7.336420059204102 0.6060870885848999 C 7.540995121002197 0.4655329585075378 7.759560585021973 0.3446057438850403 7.985814571380615 0.2464643269777298 C 8.216790199279785 0.1467324495315552 8.458075523376465 0.06924878805875778 8.702846527099609 0.01665680296719074 C 8.954952239990234 -0.03702495247125626 9.213677406311035 -0.06479889899492264 9.472743034362793 -0.06662087887525558 C 9.477452278137207 -0.06665399670600891 9.48163890838623 -0.06668344885110855 9.486350059509277 -0.06671657413244247 C 9.490536689758301 -0.06674601882696152 9.494724273681641 -0.06677547097206116 9.499434471130371 -0.06680859625339508 C 9.758499145507812 -0.06863057613372803 10.01685523986816 -0.04449322074651718 10.26770210266113 0.005651315208524466 C 10.51227569580078 0.05480178818106651 10.75248527526855 0.1288991570472717 10.98206901550293 0.2253919541835785 C 11.20695400238037 0.3203605711460114 11.42382717132568 0.4382253587245941 11.62642860412598 0.5759158730506897 C 11.82694435119629 0.7125828266143799 12.01527881622314 0.8695799112319946 12.18622875213623 1.04279088973999 C 12.35717487335205 1.216521024703979 12.51177787780762 1.406976938247681 12.64640426635742 1.610550403594971 C 12.78206348419189 1.815673828125 12.89825916290283 2.034949779510498 12.99189281463623 2.262689352035522 C 13.08758449554443 2.495086669921875 13.16017627716064 2.738027811050415 13.20814037322998 2.985295057296753 C 13.25762557983398 3.239300012588501 13.281418800354 3.500233173370361 13.27956008911133 3.762385368347168 C 13.27661228179932 4.178194999694824 13.18949222564697 4.655848979949951 13.0193452835083 5.181323528289795 C 12.86043071746826 5.672459125518799 12.63432788848877 6.192098617553711 12.34688568115234 6.727222442626953 C 12.2434606552124 6.921050548553467 12.13271522521973 7.1138916015625 12.01569747924805 7.30573844909668 C 11.90767955780029 7.482987880706787 11.79444217681885 7.658197402954102 11.67703151702881 7.831879138946533 C 11.43640232086182 8.186032295227051 11.18177032470703 8.522114753723145 10.92051792144775 8.83228874206543 C 10.65769386291504 9.14299488067627 10.3930082321167 9.421010971069336 10.13437557220459 9.656937599182129 C 9.885631561279297 9.88432502746582 9.646391868591309 10.0695629119873 9.422215461730957 10.20817375183105 C 9.422266006469727 10.21163177490234 9.419121742248535 10.21424388885498 9.412394523620605 10.21588134765625 C 9.412394523620605 10.21588134765625 9.41239070892334 10.21640014648438 9.412386894226074 10.21691989898682 L 9.413430213928223 10.21743202209473 C 9.403717041015625 10.48015880584717 9.360251426696777 10.77945804595947 9.284123420715332 11.10909461975098 C 9.205312728881836 11.44809341430664 9.093353271484375 11.81224250793457 8.950932502746582 12.19165802001953 C 8.809048652648926 12.56899452209473 8.639895439147949 12.95430850982666 8.448782920837402 13.33666324615479 C 8.354830741882324 13.52315616607666 8.257227897644043 13.70759963989258 8.154945373535156 13.88792324066162 C 8.044706344604492 14.0833568572998 7.930311679840088 14.27414608001709 7.811768531799316 14.4597749710083 C 7.48419189453125 14.97182273864746 7.139767646789551 15.42429351806641 6.786950588226318 15.80570793151855 C 6.409351825714111 16.21324920654297 6.03294563293457 16.52631187438965 5.668255805969238 16.73703002929688 C 5.438618659973145 16.86945724487305 5.196578979492188 16.97964668273926 4.948439121246338 17.06444549560547 C 4.707118034362793 17.14712142944336 4.456538200378418 17.20702171325684 4.204568386077881 17.24149703979492 C 4.035241603851318 17.26508140563965 3.863809108734131 17.2774829864502 3.692912340164185 17.27868461608887 C 3.614257574081421 17.27923774719238 3.535697460174561 17.27741813659668 3.457541465759277 17.27322387695312 Z">
                        </path>
                    </svg>
                </a>*@
                                <button type="button" id="btnAddAP">Add AP</button>
                            </div>
                            <div class="add-cpe-button">
                                @*<a href="http://45.63.16.67/~webchefz/devsites/Spectra/index.html#">
                    <span>
                        <svg class="Line_6">
                            <path fill="transparent" stroke="rgba(255,148,69,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-dasharray="2" stroke-dashoffset="0" stroke-miterlimit="4" shape-rendering="auto" id="Line_6" d="M 0 0 L 18 0">
                            </path>
                        </svg>
                        <svg class="Rectangle_174">
                            <rect fill="rgba(255,148,69,1)" id="Rectangle_174" rx="0" ry="0" x="0" y="0" width="18" height="4">
                            </rect>
                        </svg>
                    </span>Measure
                </a>*@
                                <a href="#">
                                    @*<span>
                        <svg class="Line_6">
                            <path fill="transparent" stroke="rgba(255,148,69,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-dasharray="2" stroke-dashoffset="0" stroke-miterlimit="4" shape-rendering="auto" id="Line_6" d="M 0 0 L 18 0">
                            </path>
                        </svg>
                        <svg class="Rectangle_174">
                            <rect fill="rgba(255,148,69,1)" id="Rectangle_174" rx="0" ry="0" x="0" y="0" width="18" height="4">
                            </rect>
                        </svg>
                    </span>*@
                                </a><button type="button" id="btnAzimuthCalc" class="btn btn-warning">Measure</button>
                            </div>
                        </div>

                        <div class="map-inner floating-section" id="divDeclinationHatt" style="display:none;z-index:1000;">
                            <div class="access-Point-main">
                                <button type="button" onclick="closeHatt();">
                                    ×
                                </button>
                                <div class="container cutom-container">
                                    <div id="divCalculateDeclination" style="display:none">


                                        @Html.Partial("_CalculateDeclination")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>





                    <div class="location-info-main">
                        <div class="container cutom-container">
                            <div class="location-info-inner-out">
                                <div class="row">
                                    <div class="lake-image">
                                        <img src="images/lake-im1.png" alt="Image" />
                                    </div>
                                    <div class="location-info-right">
                                        <h5>Piedmont Lake <span>• 270 ft</span></h5>
                                        <div class="status-out">
                                            Status: <span> Offline</span>
                                        </div>
                                        <div class="status-out">
                                            <ul>
                                                @*<li>Lat: <span>43.197167</span></li>
                                                    <li>Long: <span>43.197167</span></li>*@
                                                <li>Lat: <span id="txtLatDown"></span></li>
                                                <li>Long: <span id="txtLongDown"></span></li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-12 pade-none location-setting">
                                            <span class="setting-icon" onclick="manageParameters();">
                                                <svg class="Icon_ionic_ios_settings" viewBox="4.5 4.5 16.996 17">
                                                    <path fill="rgba(0,0,0,1)" id="Icon_ionic_ios_settings" d="M 20.09255409240723 12.99778842926025 C 20.09255409240723 12.0683422088623 20.6723518371582 11.27610111236572 21.49557495117188 10.95743370056152 C 21.27870559692383 10.05011749267578 20.92020416259766 9.200339317321777 20.44662666320801 8.430227279663086 C 20.16336822509766 8.554153442382812 19.86240577697754 8.620541572570801 19.55701637268066 8.620541572570801 C 18.99934959411621 8.620541572570801 18.44168090820312 8.408097267150879 18.01236534118652 7.983206748962402 C 17.35290336608887 7.32374382019043 17.20684623718262 6.354464530944824 17.56092071533203 5.54894495010376 C 16.79523658752441 5.075371265411377 15.94103050231934 4.716869831085205 15.03814125061035 4.5 C 14.72390079498291 5.318797588348389 13.92723274230957 5.90302038192749 12.99778842926025 5.90302038192749 C 12.0683422088623 5.90302038192749 11.27167415618896 5.318797588348389 10.95743370056152 4.5 C 10.05011749267578 4.716869831085205 9.200338363647461 5.075371265411377 8.43022632598877 5.548945426940918 C 8.788726806640625 6.350039005279541 8.63824462890625 7.32374382019043 7.978780746459961 7.983207702636719 C 7.553892135620117 8.408098220825195 6.991798400878906 8.620542526245117 6.434131622314453 8.620542526245117 C 6.128742218017578 8.620542526245117 5.827778816223145 8.558579444885254 5.544519424438477 8.430228233337402 C 5.075370788574219 9.204765319824219 4.716870307922363 10.05454349517822 4.5 10.96185874938965 C 5.31879711151123 11.27610111236572 5.903019905090332 12.0683422088623 5.903019905090332 13.00221252441406 C 5.903019905090332 13.93165874481201 5.323223114013672 14.72390079498291 4.504426002502441 15.04256629943848 C 4.721296310424805 15.94988250732422 5.07979679107666 16.79965972900391 5.553371429443359 17.56977272033691 C 5.836630821228027 17.44584655761719 6.137594223022461 17.38388252258301 6.438557624816895 17.38388252258301 C 6.996225357055664 17.38388252258301 7.553892135620117 17.59632682800293 7.983207702636719 18.02121543884277 C 8.63824462890625 18.67625427246094 8.788727760314941 19.64995956420898 8.434652328491211 20.45105361938477 C 9.204764366149902 20.92462921142578 10.05896949768066 21.28312873840332 10.96185970306396 21.5 C 11.27610111236572 20.68120002746582 12.0683422088623 20.10140419006348 12.99778842926025 20.10140419006348 C 13.92723274230957 20.10140419006348 14.71947479248047 20.68120002746582 15.03371620178223 21.5 C 15.94103050231934 21.28312873840332 16.79080963134766 20.92462921142578 17.56092071533203 20.45105361938477 C 17.20684623718262 19.64996147155762 17.35732841491699 18.6806812286377 18.01236534118652 18.02121543884277 C 18.437255859375 17.59632873535156 18.99492454528809 17.38388252258301 19.55701637268066 17.38388252258301 C 19.85798072814941 17.38388252258301 20.16336822509766 17.44584655761719 20.44220352172852 17.56977272033691 C 20.9157772064209 16.79965782165527 21.27427673339844 15.94545459747314 21.49114990234375 15.04256629943848 C 20.67677688598633 14.72390079498291 20.09255409240723 13.93165874481201 20.09255409240723 12.99778842926025 Z M 13.03762149810791 16.53410720825195 C 11.07693481445312 16.53410720825195 9.49687671661377 14.94519710540771 9.49687671661377 12.99336242675781 C 9.49687671661377 11.04152679443359 11.07693481445312 9.452617645263672 13.03762149810791 9.452617645263672 C 14.99830913543701 9.452617645263672 16.5783634185791 11.04152679443359 16.5783634185791 12.99336242675781 C 16.5783634185791 14.94519710540771 14.99830913543701 16.53410720825195 13.03762149810791 16.53410720825195 Z">
                                                    </path>
                                                </svg>
                                            </span>
                                            <span class="wifi-icon">
                                                <samp id="Icon_ionic_ios_wifi">
                                                    <svg class="Path_310" viewBox="2.246 6.75 20 5.694">
                                                        <path fill="rgba(0,0,0,1)" id="Path_310" d="M 12.24186038970947 6.75 C 8.605938911437988 6.75 4.97001838684082 8.219999313354492 2.360186100006104 10.61312389373779 C 2.212964773178101 10.74437427520752 2.208503723144531 10.96749973297119 2.346802234649658 11.1118745803833 L 3.537956714630127 12.33249950408936 C 3.676255702972412 12.47687339782715 3.90824031829834 12.4812479019165 4.055461883544922 12.34562397003174 C 5.09493350982666 11.4006233215332 6.281626224517822 10.6481237411499 7.593234062194824 10.11437320709229 C 9.065447807312012 9.510623931884766 10.63134765625 9.208748817443848 12.2463207244873 9.208748817443848 C 13.86129188537598 9.208748817443848 15.4271936416626 9.514998435974121 16.89940643310547 10.11437320709229 C 18.21101570129395 10.65249919891357 19.39770698547363 11.4006233215332 20.43717956542969 12.34562397003174 C 20.58440017700195 12.4812479019165 20.81638526916504 12.47687339782715 20.95468330383301 12.33249950408936 L 22.14583778381348 11.1118745803833 C 22.28413581848145 10.97187328338623 22.2796745300293 10.74874973297119 22.1324520111084 10.61312389373779 C 19.51370239257812 8.219999313354492 15.87778091430664 6.75 12.24186038970947 6.75 Z">
                                                        </path>
                                                    </svg>
                                                    <svg class="Path_311" viewBox="7.789 14.85 12.948 4.242">
                                                        <path fill="rgba(0,0,0,1)" id="Path_311" d="M 7.89703893661499 17.75062370300293 L 9.172956466674805 18.98875045776367 C 9.311254501342773 19.11999893188477 9.529855728149414 19.12874984741211 9.672616958618164 19.00187301635742 C 10.93515014648438 17.90374755859375 12.55458545684814 17.29999732971191 14.26324558258057 17.29999732971191 C 15.9719066619873 17.29999732971191 17.59134101867676 17.89937400817871 18.85387229919434 19.00187301635742 C 18.99663543701172 19.12874984741211 19.21523475646973 19.11999893188477 19.35353469848633 18.98875045776367 L 20.62945175170898 17.75062370300293 C 20.77667236328125 17.60625076293945 20.77221298217773 17.37437438964844 20.61606788635254 17.23874855041504 C 18.94309997558594 15.75562381744385 16.7080135345459 14.84999942779541 14.25878429412842 14.84999942779541 C 11.80955600738525 14.84999942779541 9.574470520019531 15.75562381744385 7.901500225067139 17.23874855041504 C 7.754278182983398 17.37437438964844 7.749816417694092 17.60625076293945 7.89703893661499 17.75062370300293 Z">
                                                        </path>
                                                    </svg>
                                                    <svg class="Path_312" viewBox="13.67 22.795 5.495 4.016">
                                                        <path fill="rgba(0,0,0,1)" id="Path_312" d="M 16.41716575622559 22.79531097412109 C 15.37323474884033 22.79531097412109 14.42744922637939 23.22406196594238 13.76718425750732 23.91093826293945 C 13.6333475112915 24.05093765258789 13.63780879974365 24.26531028747559 13.77610683441162 24.40093803405762 L 16.15841293334961 26.70656204223633 C 16.30117416381836 26.84656143188477 16.53315925598145 26.84656143188477 16.67591857910156 26.70656204223633 L 19.05822944641113 24.40093803405762 C 19.1965274810791 24.26531410217285 19.20098876953125 24.05093765258789 19.0671501159668 23.91093826293945 C 18.40688323974609 23.22843551635742 17.46110153198242 22.79531097412109 16.41716575622559 22.79531097412109 Z">
                                                        </path>
                                                    </svg>
                                                </samp>
                                            </span>
                                            <span class="edit-icon">
                                                <svg class="Icon_material_mode_edit" viewBox="4.5 4.496 16 16">
                                                    <path fill="rgba(0,89,178,1)" id="Icon_material_mode_edit" d="M 4.499999523162842 17.16338157653809 L 4.499999523162842 20.49625396728516 L 7.832871437072754 20.49625396728516 L 17.66261672973633 10.66650485992432 L 14.32974720001221 7.333633899688721 L 4.499999523162842 17.16338157653809 Z M 20.24003791809082 8.089085578918457 C 20.58665466308594 7.742465496063232 20.58665466308594 7.182543754577637 20.24003791809082 6.835924625396729 L 18.16032981872559 4.756214141845703 C 17.8137092590332 4.409594535827637 17.25378799438477 4.409594535827637 16.90716934204102 4.756214141845703 L 15.28072738647461 6.382654190063477 L 18.61359786987305 9.715527534484863 L 20.24003791809082 8.089085578918457 Z">
                                                    </path>
                                                </svg>
                                            </span>
                                            <span class="delete-icon">
                                                <svg class="Icon_material_delete" viewBox="7.5 4.5 13 16.714" onclick="ConfirmDialog()">
                                                    <path fill="rgba(226,43,43,1)" id="Icon_material_delete" d="M 8.428571701049805 19.35714340209961 C 8.428571701049805 20.37857055664062 9.264286041259766 21.21428680419922 10.28571319580078 21.21428680419922 L 17.71428871154785 21.21428680419922 C 18.73571586608887 21.21428680419922 19.57143020629883 20.37857055664062 19.57143020629883 19.35714340209961 L 19.57143020629883 8.214285850524902 L 8.428571701049805 8.214285850524902 L 8.428571701049805 19.35714340209961 Z M 20.5 5.428571701049805 L 17.25000190734863 5.428571701049805 L 16.3214282989502 4.5 L 11.67857074737549 4.5 L 10.75 5.428571701049805 L 7.499999523162842 5.428571701049805 L 7.499999523162842 7.285714626312256 L 20.5 7.285714626312256 L 20.5 5.428571701049805 Z">
                                                    </path>
                                                </svg>
                                            </span>
                                        </div>



                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>




                </div>

                <span id="lblDegree" style="display:none">&#176;</span>

            </div>
        </div>
    </div>
    <input type="hidden" id="hdnAPID" value="" />
    <input type="hidden" id="hdnsector" value="" />
    <input type="hidden" id="hdnAllAPSectorId" value="" />
</main>

<input type="file" id="files" name="files" onchange="setfilename(this.value)">
<div style="display:none">
    <div id="divAPPopup" style="width:230px">
        <div id="divFirst">
            <table style="width:100%">
                <tr>
                    <td style="width:25%"><label class="col-xs-6">Latitude</label></td>
                    <td>
                        @*<input type="hidden" id="hdnAPID" value="" />
                            <input type="hidden" id="hdnsector" value="" />*@
                        <span id="lblPopupLat" class="col-xs-6 form-control"></span>
                    </td>
                </tr>
                <tr style="color:darkblue;" id="trExistingLat">
                    <td style="width:25%"><label class="col-xs-6">Existing Latitude</label></td>
                    <td>
                        <span id="lblPopupExistingLat" class="col-xs-6 form-control"></span>
                    </td>
                </tr>
                <tr>
                    <td> <label class="col-xs-6">Longitude</label></td>
                    <td> <span id="lblPopupLng" class="col-xs-6 form-control"></span></td>
                </tr>
                <tr style="color:darkblue;" id="trExistingLng">
                    <td style="width:25%"><label class="col-xs-6">Existing Longitude</label></td>
                    <td>
                        <span id="lblPopupExistingLng" class="col-xs-6 form-control"></span>
                    </td>
                </tr>
                <tr>
                    <td> <label class="col-xs-6">Access PointName</label></td>
                    <td> <textarea rows="1" id="txtPopupName" class="col-xs-6 form-control"></textarea></td>
                </tr>
                <tr>
                    <td> <label class="col-xs-6">Description</label></td>
                    <td> <textarea rows="2" id="txtPopupDesc" class="col-xs-6 form-control"></textarea></td>
                </tr>

                <tr>

                    <td> <label class="col-xs-6">Add Image</label></td>

                    <td id="tdfileUpload">
                        @*<input type="file" id="files" name="files" onchange="setfilename(this.value)">*@

                    </td>

                </tr>

                <tr>
                    <td colspan="2"> <a href="" id="afilename" target="_blank"></a>  </td>
                    @*<label class="col-xs-6" id="filename"></label>*@
                </tr>

                <tr>

                    <td> <label class="col-xs-6">No of Sectors</label></td>

                    @*<td>
                            <span id="sect1"> No 1:</span> &nbsp;<span id="sect2" onclick="getSectorNo(2)"></span>
                            &nbsp;<span id="sect3" onclick="getSectorNo(3)"></span>   &nbsp;<span id="sect4" onclick="getSectorNo(4)"></span>


                            <span id="Repeat_Grid_20_1">
                                <svg class="Path_357_A57_Path_775" viewBox="188.154 1396.25 25 20.717">
                                    <path fill="rgba(0,115,255,0.102)" stroke="rgba(0,115,255,1)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="10" shape-rendering="auto" id="Path_357_A57_Path_775" d="M 209.6591491699219 1399.33203125 C 210.1633758544922 1399.775146484375 210.6260528564453 1400.268432617188 211.0337829589844 1400.798950195312 C 211.4340972900391 1401.31982421875 211.7861328125 1401.882080078125 212.0793304443359 1402.468383789062 C 212.3698883056641 1403.050415039062 212.6060638427734 1403.662353515625 212.7807922363281 1404.286499023438 C 212.9553985595703 1404.911376953125 213.0697784423828 1405.55419921875 213.1221771240234 1406.197143554688 C 213.1740417480469 1406.8466796875 213.1626586914062 1407.502685546875 213.0877532958984 1408.145385742188 C 213.0103149414062 1408.800903320312 212.8669891357422 1409.450927734375 212.6611328125 1410.077026367188 C 212.4494323730469 1410.7197265625 212.1692047119141 1411.345092773438 211.8274993896484 1411.9365234375 C 211.8217926025391 1411.946899414062 211.8152618408203 1411.956787109375 211.8095550537109 1411.966430664062 C 211.8038787841797 1411.97607421875 211.7985534667969 1411.986938476562 211.7928466796875 1411.996826171875 C 211.4511413574219 1412.588745117188 211.0496215820312 1413.144409179688 210.5991973876953 1413.648803710938 C 210.15966796875 1414.140014648438 209.6685943603516 1414.589111328125 209.1395416259766 1414.983764648438 C 208.6202239990234 1415.370239257812 208.0577545166016 1415.708374023438 207.4695587158203 1415.98828125 C 206.8864898681641 1416.264282226562 206.2725372314453 1416.486328125 205.6442108154297 1416.6474609375 C 205.0158386230469 1416.808471679688 204.3681335449219 1416.90966796875 203.7186584472656 1416.948974609375 C 203.0643768310547 1416.988525390625 202.4014282226562 1416.964965820312 201.7501678466797 1416.87841796875 C 201.0868377685547 1416.790649414062 200.4283294677734 1416.636474609375 199.7926330566406 1416.421508789062 C 199.1406707763672 1416.200805664062 198.5046997070312 1415.912963867188 197.9017486572266 1415.565063476562 C 196.9444885253906 1415.01220703125 195.9586334228516 1414.186645507812 194.97119140625 1413.110961914062 C 194.0487670898438 1412.104858398438 193.1486663818359 1410.908813476562 192.2954864501953 1409.553588867188 C 191.98681640625 1409.063598632812 191.6884460449219 1408.558471679688 191.4013061523438 1408.041381835938 C 191.1357727050781 1407.563842773438 190.8812561035156 1407.075927734375 190.6376037597656 1406.581909179688 C 190.1402893066406 1405.569946289062 189.702880859375 1404.549438476562 189.3357849121094 1403.548461914062 C 188.9672698974609 1402.542724609375 188.6791687011719 1401.577514648438 188.4781646728516 1400.678955078125 C 188.2826385498047 1399.804565429688 188.1739349365234 1399.00927734375 188.154052734375 1398.3115234375 L 188.1563415527344 1398.310302734375 C 188.1559906005859 1398.30908203125 188.1557922363281 1398.308227539062 188.1561737060547 1398.307983398438 L 189.9738006591797 1397.533813476562 L 190.0694580078125 1397.502319335938 L 190.3685607910156 1397.404907226562 C 191.2470855712891 1397.129516601562 192.227294921875 1396.896484375 193.2825775146484 1396.712646484375 C 194.3329010009766 1396.530029296875 195.4354553222656 1396.398681640625 196.5601501464844 1396.323608398438 C 197.1098785400391 1396.287231445312 197.6596832275391 1396.263916015625 198.2058258056641 1396.255126953125 C 198.7975769042969 1396.244995117188 199.3842010498047 1396.250732421875 199.9629516601562 1396.273315429688 C 201.56298828125 1396.3349609375 203.0489196777344 1396.515991210938 204.3812866210938 1396.81201171875 C 205.8067321777344 1397.129028320312 207.0145263671875 1397.5703125 207.9718170166016 1398.122924804688 C 208.5747680664062 1398.471069335938 209.1422119140625 1398.877807617188 209.6591491699219 1399.33203125 Z">
                                    </path>
                                </svg>
                            </span>
                        </td>*@
                    <td>
                        @*<p id="sect1">Click me.</p>*@

                        <span id="span1" onclick="getSect(1);">First</span>
                        <span id="span2" onclick="getSect(2);">Second</span>
                        <span id="span3" onclick="getSect(3);">Third</span>
                        <span id="span4" onclick="getSect(4);">Fourth</span>

                        @*<span id="sect1">1</span> &nbsp;<span id="sect2">2</span>
                            &nbsp;<span id="sect3">3</span>   &nbsp;<span id="sect4">4</span>*@
                    </td>

                    @*<td> <label class="col-xs-6">Description</label></td>

                        <td> <textarea rows="2" id="txtPopupDesc" class="col-xs-6 form-control"></textarea></td>*@

                </tr>

                <tr>

                    <td colspan="2" style="text-align:center; padding:10px;" id="tdCtrls">

                        @*<span class="lnkbtn" id="lnkbtnSave">Save</span>&nbsp;&nbsp;
                            <span class="lnkbtn" id="lnkbtnDelete">Delete</span>  &nbsp;&nbsp;
                            <span class="lnkbtn" id="lnkbtnManageParameters">Manage Parameters</span>*@


                        <input type="button" id="lnkbtnNext" onclick="NextPopup();" value="Next" />

                    </td>

                </tr>



            </table>
        </div>
        <div id="divAPPopupNext" style="display:none">
            <table style="width:100%" id="tblAPPopupNext"></table>
        </div>

    </div>
</div>


<div id="myModal" class="modal">
    <div class="outdoor-confirmation-popup">
        <div class="outdoor-access-out">
            <h4>Confirmation </h4>
            <div class="cutom-close-button">
                <div id="Group_619">
                    <svg class="Line_8">
                        <path fill="transparent" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_8" d="M 0 0 L 9 9">
                        </path>
                    </svg>
                    <svg class="Line_9" onclick="endPopup()">
                        <path fill="transparent" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_9" d="M 9 0 L 0 9">
                        </path>
                    </svg>
                </div>
            </div>
            <div class="col-xs-12 pade-none outdoor-access-inner">
                <div class="are-you-sure-content">
                    <p>Are you sure you want to delete this AP?</p>
                </div>
                <div class="are-you-sure-button">
                    <a href="javascript:;" class="custom-button" onclick="Delete(false);">No</a>
                    <a href="javascript:;" class="custom-button" onclick="Delete(true);">Yes</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DeleteSectorModal" tabindex="-1" role="dialog" aria-labelledby="DeleteSectorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DeleteSectorModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete Sectors?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnDeleteSector">Yes</button>
            </div>
        </div>
    </div>
</div>

<div id="Component_9" class="Component" style="display:none">
    @*<svg class="Rectangle_300">
            <rect fill="rgba(255,255,255,1)" id="Rectangle_300" rx="12" ry="12" x="0" y="0" width="361" height="73">
            </rect>
        </svg>*@
    <div id="Lorem_ipsum_dol_light_A62_Text_1070">
        <span>Touch where you'd like to drop the AP</span>
    </div>
</div>


@*<div id="Component_A18_Component_423" class="Component" style="display:block">
        <svg class="Rectangle_300">
            <rect fill="rgba(255,255,255,1)" id="Rectangle_300" rx="12" ry="12" x="0" y="0" width="360" height="73">
            </rect>
        </svg>
        <div id="Full_Width_Button" class="Full Width Button">
            <svg class="Rectangle_205">
                <rect fill="rgba(0,89,178,1)" id="Rectangle_205" rx="6" ry="6" x="0" y="0" width="162" height="49">
                </rect>
            </svg>
            <div id="Submit_Parameters">
                <span>Submit Parameters</span>
            </div>
        </div>
        <div id="Full_Width_Button_A18_Component_425" class="Full Width Button">
            <svg class="Rectangle_205_A18_Rectangle_557">
                <rect fill="rgba(0,89,178,0.102)" id="Rectangle_205_A18_Rectangle_557" rx="6" ry="6" x="0" y="0" width="162" height="49">
                </rect>
            </svg>
            <div id="Save_Parameters">
                <span>Save Parameters</span>
            </div>
        </div>
    </div>*@

@*<div id="Component_9" class="Component" style="display:none">
        <svg class="Rectangle_300">
                <rect fill="rgba(255,255,255,1)" id="Rectangle_300" rx="12" ry="12" x="0" y="0" width="361" height="73">
                </rect>
            </svg>
        <div id="Lorem_ipsum_dol_light_A62_Text_1070">
            <span>Touch where you'd like to drop the AP</span>
        </div>
    </div>*@


<script type="text/javascript" charset="UTF-8">
    var geo = L.geoJson();
    var curLocation = [39.3985454, -107.3123854];
    var m = null;
    var lineLayer = null;
    var layerGroup = new L.LayerGroup();
    var originLat = 0;
    var originLng = 0;
    var imarkersLoad = 0;
    var marker = null;
    var azimuthLine=null;
    var isAzimuthCalcInProgress=false;
    var isAzimuthCalcInProgressFirst=false;
    var allMarkersObjArray = [];
    var imarkersArray=0;
    var azimuthStartAPLat = null;

    var azimuthStartAPLng = null;
    var restrictAzimuthLine=0;
    var azimuthEndAPLat = null;

    var azimuthEndAPLng = null;
    var aps = null;
    var apsector = null;
    var lineLayerNew = null;
    var markersLoad = [];
    var markersCreated = [];

    var marker = null;

    var imarkersCreated = 0;
    var cehckFirstAPOfOutdoor = false;
    var currentMarker;

    var currentDraggedMarkerStartLat = null;
    var currentDraggedMarkerStartLng = null;
    var files = null;
    var sRetainControlValuesNext = null;
    var sRetainControlValuesBack = null;
    var isectorCounter = null;
    var fileName = null;
    var isNewAP = false;
    var isSectorDelete=false;
    var simagePath = null;
    var popupMarkup = $($('#divAPPopup').html()).on('click', '.lnkbtn', function () {
        var ctrl = $(this).attr('id');

        switch (ctrl) {
            case 'lnkbtnSave':
                SaveAPData();
                break;
            case 'lnkbtnDelete':
                Delete();
                break;
            case 'lnkbtnManageParameters':
                manageParameters();
                break;
            case 'btnShowCalculateDeclination':
                showCalculateDeclinationfn();
                break;
            case 'btnShowCalculateHAAT':
                showCalculateHAAT();
                break;
        }

    })[0];

    $(document).ready(function () {
        loadBaseMap();

        loadAPs();


        $('#btnAddAP').click(function (event) {

            var currentText = $(this).text();
            //alert(currentText);
            if (currentText == "Add AP") {
                $('#hdnsector').val(0);
                $("#Component_A18_Component_423").css("display", "none");
                $("#Component_9").css("display", "block");
                $(this).text("Finish");



                cehckFirstAPOfOutdoor = false;

                m.on('click', function (e) {
                    //alert(cehckFirstAPOfOutdoor);
                    if (cehckFirstAPOfOutdoor == true) {
                    //alert(currentText);
                    //if (currentText == "Add AP") {
                    //if (currentText == "Add AP") {
                    lat = e.latlng.lat;
                    lon = e.latlng.lng;
                    curLocation = [lat, lon];
                        isNewAP = true;
                    markersCreated = new L.marker(curLocation, {

                        draggable: 'true'

                    }).bindPopup(popupMarkup, { minWidth: 230, maxHeight: "auto" });

                    markersCreated.APID = 0;

                    $('#hdnAPID').val(0);

                    $('#lblPopupLat').text(lat);

                    $('#lblPopupLng').text(lon);

                    markersCreated.on('dragend', function (event) {

                        var startLat = currentDraggedMarkerStartLat;

                        var startLng = currentDraggedMarkerStartLng;

                        currentDraggedMarkerStartLat = null;

                        currentDraggedMarkerStartLng = null;

                        onAPDragEnd(event, this, startLat, startLng);

                    });

                    markersCreated.on('click', function (event) {  //new added
                        onAPClick(this);
                        $($("#tdfileUpload")[0]).append($("#files")[0]);
                    });

                    m.addLayer(markersCreated);
                    imarkersCreated++;
                    //cehckFirstAPOfOutdoor = false;

                    //Add a marker to show where you clicked.
                }
                    cehckFirstAPOfOutdoor = true;
            });

        }
           else if (currentText == "Finish") {

            $(this).text("Add AP");
            $("#Component_A18_Component_423").css("display", "block");
                $("#Component_9").css("display", "none");
              event.stopPropagation();
                cehckFirstAPOfOutdoor = false;
                isNewAP = false;

                m.removeLayer(markersCreated);//Added
                m.off('click');
            }
        });

        $('#btnback').click(function () {
            //window.location.href = "../Home/IndoorStep1?buildingID="+$('#hdnBuildingID').val();
            window.location.href = "../Home/Dashboard";

        });

    });



    function onAPDragEnd(event, obj, currentDraggedMarkerStartLat, currentDraggedMarkerStartLng) {



        var position = obj.getLatLng();



        originLat = convertUptoDecimal6(position.lat);

        originLng = convertUptoDecimal6(position.lng);

        if (lineLayerNew != null) {

            layerGroup.removeLayer(lineLayerNew);

        }





    }


    function onAPClick(obj) {

        //if(restrictAzimuthLine<2){
        setAzimthAPDetails(obj);
        var position = obj.getLatLng();
        position.lat = convertUptoDecimal6(position.lat);
        position.lng = convertUptoDecimal6(position.lng);

        $('#hdnLat').val(position.lat);

        $('#hdnLong').val(position.lng);

        $("#txtLatDown").text(position.lat);
        $("#txtLongDown").text(position.lng);

        if ($('#hdnAPID').val() == "")
            $('#hdnAPID').val(0);

        if (obj.Lat != undefined)
            obj.Lat = convertUptoDecimal6(obj.Lat);

        if (obj.Long != undefined)
            obj.Long = convertUptoDecimal6(obj.Long);

        if (obj.APID != undefined && obj.APID != 0)
            $('#hdnAPID').val(obj.APID);

        if (obj.Lat != undefined)
            $('#lblPopupExistingLat').text(obj.Lat);

        if (obj.Long != undefined)
            $('#lblPopupExistingLng').text(obj.Long);

        if (obj.ImageSHPPath != undefined) {
            $('#afilename').text(obj.ImageSHPPath);
            //alert(obj.ImageSHPPath.replace('~/', '../'));
            //$('#afilename').attr('href',obj.ImageSHPPath.replace('~/','../'));
             $(afilename).attr("href", obj.ImageSHPPath.replace('~/', '../')); 
        }

        $('#hdnAPID').val(obj.APID);

        //isSectorClick = true;

        if (obj.Lat != undefined && obj.Long != undefined) {
            if (position.lat != obj.Lat) {

                $('#lblPopupLat').text(position.lat);

                $('#trExistingLat').show();

            }

            else {

                $('#lblPopupLat').text(obj.Lat);

                $('#trExistingLat').hide();

            }



            if (position.lng != obj.Long) {

                $('#lblPopupLng').text(position.lng);

                $('#trExistingLng').show();

            }

            else {

                $('#lblPopupLng').text(obj.Long);

                $('#trExistingLng').hide();

            }
        }//End of  if(this.Lat!=undefined && this.Long!=undefined)

        else {
            $('#trExistingLat').hide();
            $('#trExistingLng').hide();

            $('#lblPopupLat').text(position.lat);

            $('#lblPopupLng').text(position.lng);
        }


        if (obj.Name != undefined && obj.Name != '') {
            //$('#txtPopupName').text(obj.Name);
            document.getElementById('txtPopupName').value = obj.Name;
        }
        else {
            //$('#txtPopupName').text('');
            document.getElementById('txtPopupName').value = "";
        }

        if (obj.Description != undefined && obj.Description != '') {
            //$('#txtPopupDesc').text(obj.Description);
            document.getElementById('txtPopupDesc').value = obj.Description;
        }
        else {
            //$('#txtPopupDesc').text('');
            document.getElementById('txtPopupDesc').value = "";
        }

        currentMarker = obj;


        $("#divFirst").css("display", "block");
        obj.openPopup();

        //if(isAzimuthCalcInProgress||isAzimuthCalcInProgressFirst){
        if(isAzimuthCalcInProgress){
            obj.closePopup();
        }

        //}
        //else
        //{
        //    obj.closePopup();
        //}
    }

    function SaveAPData() {
        var apid = $('#hdnAPID').val();
        //var newlat = $('#lblPopupLat').text();
        //var newlong = $('#lblPopupLng').text();
        //alert(sRetainControlValuesNext);
        if (sRetainControlValuesNext.length > 0) {
            var splitValues = sRetainControlValuesNext.split('|');
            $('#txtPopupName').val(splitValues[0]);
            $('#txtPopupDesc').val(splitValues[1]);
            $('#lblPopupLat').text(splitValues[2]);
            $('#lblPopupLng').text(splitValues[3]);
        }

        var newlat = $('#lblPopupLat').text();
        var newlong = $('#lblPopupLng').text();
        var name = $('#txtPopupName').val();
        var desc = $('#txtPopupDesc').val();

        var data = new FormData();
        data.append('type', files);
        data.append('apid', apid);
        data.append('newlat', newlat);
        data.append('newlong', newlong)
        data.append('name', name);
        data.append('desc', desc);

        if (files != null) {
            for (var i = 0; i < files.length; i++) {
                data.append(files[i].name, files[i]);
            }
        }
        else {
            //alert(simagePath);
            data.append('ImageSHPPath', simagePath);
        }

            $.ajax({

                url: "../ManageAPParameters/ManageAPForOutdoor",

                type: "POST",

                contentType: false,
                processData: false,
                data: data,
                //data: {
                //    "apid": apid,

                //    "newlat": newlat,

                //    "newlong": newlong,

                //    "name": name,

                //    "desc": desc,
                //    "img":files

                success: function (data) {

                    if (data.Result) {
                        AddAPSector(data.APID);
                        //alert('AP saved successfully');

                        currentMarker.APID = data.APID;

                        currentMarker.Lat = newlat;

                        currentMarker.Long = newlong;

                        currentMarker.Name = name;

                        currentMarker.Description = desc;



                    }
                    else {
                        alert('Something went wrong');
                    }

                },

                error: function (a, b, c) {

                    alert('An error occured. Please try after sometime');

                    //currentMarker = null;

                }

            });

        $("#Component_A18_Component_423").css("display", "block");
        $("#Component_9").css("display", "none");
    }

    function Delete(res) {



        //var res = confirm('Delete this AP?');



        if (res) {

            var apID = $('#hdnAPID').val();

            $.ajax({

                url: "../ManageAPParameters/DeleteManageAPNew",

                data: { "apID": apID },

                success: function (data) {

                    if (data.Result) {

                        //alert('AP deleted successfully');

                        m.closePopup();

                        //currentMarker = null;

                        m.removeLayer(currentMarker);

                    }

                },

                error: function (a, b, c) {

                    alert('An error occured. Please try after sometime');

                    //currentMarker = null;

                }

            });

        }
        $('#myModal').css('display', 'none');
    }

    function ConfirmDialog() {
        $('#myModal').css('display', 'block');
    }
    function endPopup() {
        $('#myModal').css('display', 'none');
    }

    function convertUptoDecimal6(digit) {
        var res = parseFloat(digit).toFixed(6);
        return res;
    }

    function convertUptoDecimal2(digit) {
        var res = parseFloat(digit).toFixed(2);
        return res;
    }

    function manageParameters() {
        //redirect user to Manage AP Parameters page
        var floor = 0;
        //window.location.href = "../Home/ManageAPParameters?apid=" + $('#hdnAPID').val() + "&lat=" + $('#lblPopupLat').text() + "&lng=" + $('#lblPopupLng').text() + "&floorID=" + floor;
        window.location.href = "../ManageAPParameters/ManageAPParameters?apid=" + $('#hdnAPID').val() + "&lat=" + $('#lblPopupLat').text() + "&lng=" + $('#lblPopupLng').text() + "&floorID=" + floor;
    }

    function loadAPs() {

        @*aps =@Html.Raw(@Json.Serialize(ViewBag.APs));*@
       aps= @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.APs) as String);

        for (imarkersLoad = 0; imarkersLoad < aps.length; imarkersLoad++) {

            var curLoc = [aps[imarkersLoad].Lat, aps[imarkersLoad].Long];

            markersLoad[imarkersLoad] = new L.marker(curLoc, {

                draggable: 'true'

            }).bindPopup(popupMarkup,{minWidth:230,maxHeight:"auto"});

            markersLoad[imarkersLoad].APID = aps[imarkersLoad].APID;

            markersLoad[imarkersLoad].Lat = aps[imarkersLoad].Lat;

            markersLoad[imarkersLoad].Long = aps[imarkersLoad].Long;

            markersLoad[imarkersLoad].Name = aps[imarkersLoad].Name;

            markersLoad[imarkersLoad].Description = aps[imarkersLoad].Description;

            markersLoad[imarkersLoad].ImageSHPPath = aps[imarkersLoad].ImageSHPPath;

            markersLoad[imarkersLoad].listAPSector = aps[imarkersLoad].listAPSector;

            markersLoad[imarkersLoad].on('dragstart', function (event) {
                currentDraggedMarkerStartLat = this._latlng.lat;
                currentDraggedMarkerStartLng = this._latlng.lng;
            });

            markersLoad[imarkersLoad].on('dragend', function (event) {
                var startLat = currentDraggedMarkerStartLat;
                var startLng = currentDraggedMarkerStartLng;
                currentDraggedMarkerStartLat = null;
                currentDraggedMarkerStartLng = null;
                onAPDragEnd(event,this,startLat,startLng);
            });





            markersLoad[imarkersLoad].on('click', function (event) {  //new added
                onAPClick(this);
                $($("#tdfileUpload")[0]).html($($("#files")[0]));
            });

            m.addLayer(markersLoad[imarkersLoad]);

        }

        imarkersLoad-=1;

    }



    function loadBaseMap() {
        /*------------------------------------------------- Generate Map on page load starts ------------------------------------------------*/
        //----------------

        //1) Get Tiles
        var mbAttr = 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            mbUrl = 'http://{s}.tile.osm.org/{z}/{x}/{y}.png';

        var grayscale = L.tileLayer.grayscale(mbUrl, { id: 'mapbox.light', attribution: mbAttr }),
            streets = L.tileLayer(mbUrl, { id: 'mapbox.streets', attribution: mbAttr });


        var watercolor = L.tileLayer.grayscale(mbUrl, { id: 'mapbox.light', attribution: mbAttr }, {
            maxZoom: 28,
            maxNativeZoom: 19
        });



        //create map on 'map' div at curLocation and zoom level 17 with Watercolor base map and geo layer
        m = L.map('map', {
              center: curLocation,
            zoom: 4,
            layers: [watercolor, geo]
        });
        m.locate({setView: true, maxZoom: 16
            ,watch:true
        });

        //  .locate({ setView: true, maxZoom: 16,watch:true });







        layerGroup.addTo(m);

        var baseMaps = {
            "BaseLayer": watercolor
        };
        var overlays = {
            "shapefile": geo
        };
        L.control.layers(baseMaps, overlays).addTo(m);


        //Add Search box controller

        var searchControl = new L.Control.Search({
            url: 'https://nominatim.openstreetmap.org/search?format=json&q={s}',
            jsonpParam: 'json_callback',
            propertyName: 'display_name',
            propertyLoc: ['lat', 'lon'],
            //marker: L.circleMarker([0, 0], { radius: 30 }),
            autoCollapse: true,
            autoType: false,
            minLength: 2,
            zoom: 18
        })



        //searchControl.on('search:locationfound', function (e) {
        //    m.setZoom(18);
        //});

        //searchControl.on('search:locationfound', function (e) {
        //    m.setZoom(18);
        //});

        m.addControl(searchControl);

        /*----------------------------------------------- Generate Map on page load ends ----------------------------------------*/
    }

    function showCalculateDeclinationfn() {
        $('#var').html('');
        $('#lat').val($('#txtLatDown').text());
        $('#lon').val($('#txtLongDown').text());
        $('#divInnerButtons').css('display', 'none');
       // $('#modalPopupTitle').text('CPI Pro - Calculate Declination');
          $('#divDeclinationHatt').css('display', 'block');
        $('#divCalculateDeclination').css('display', 'block');

       

       

        //$("#loginModal").modal('show');
    }

      function closeHatt() {

       
          $('#divDeclinationHatt').css('display', 'none');
        $('#divCalculateDeclination').css('display', 'none');
        $('#divInnerButtons').css('display', 'block');
    }

</script>

<script>
    $(document).ready(function () {

        //$('#btnAzimuthCalc').click(function () {

        //    var currentText = $(this).text();

        //    if (currentText == "Calculate Azimuth") {
        //        isAzimuthCalcInProgress = true;
        //        alert('Select Start AP');

        //        $(this).text("Clear");
        //    }
        //    else {
        //        clearAzimuth();
        //        $(this).text("Calculate Azimuth");
        //    }


        //});

        $('#btnAzimuthCalc').click(function () {
            var currentText = $(this).text();
            //if (currentText == "Calculate Azimuth") {
            //    isAzimuthCalcInProgress = true;
            //    alert('Select Start AP');

            //    $(this).text("Clear");
            //}
            //else {
            //    clearAzimuth();
            //    $(this).text("Calculate Azimuth");
            //}
            if (currentText == "Measure") {
                isAzimuthCalcInProgress = true;
                //alert('Select Start AP');

                $(this).text("Finish");
            }
            else {
                clearAzimuth();
                $(this).text("Measure");
            }
        });
    });



    function clearAzimuth() {

        m.removeLayer(azimuthLine);

        isAzimuthCalcInProgress = false;


        azimuthStartAPLat = null;

        azimuthStartAPLng = null;

        azimuthEndAPLat = null;

        azimuthEndAPLng = null;
        restrictAzimuthLine = 0;

        $('#lblDegree').hide();

        setDefaultIconForAllMarkers();
    }

    function setDefaultIconForAllMarkers() {

        var markerscol = [];
        m.eachLayer(function (layer) {

            if (layer instanceof L.Marker) {
                markerscol.push(layer);
            }
        });

        var defaultAPIcon = L.icon({
            iconUrl: "https://unpkg.com/leaflet@1.4.0/dist/images/marker-icon.png"
        });

        for (var markeri = 0; markeri < markerscol.length; markeri++) {
            markerscol[markeri].setIcon(defaultAPIcon);
        }
    }

    function setAzimthAPDetails(marker) {

        var pos = marker.getLatLng();

        //restrictAzimuthLine++;

        if (isAzimuthCalcInProgress) {
            if ((azimuthStartAPLat == null && azimuthStartAPLat == undefined) || (azimuthEndAPLat == null && azimuthEndAPLat == undefined)) {
                $('#divAzimuthCalculation').show();

                if (azimuthStartAPLat == null && azimuthStartAPLat == undefined) {

                    azimuthStartAPLat = convertUptoDecimal6(pos.lat);
                    azimuthStartAPLng = convertUptoDecimal6(pos.lng);

                    //set first AP color
                    var firstAPIcon = L.icon({
                        iconUrl: '../../images/marker-iconFirstAP.png'



                    });

                    marker.setIcon(firstAPIcon);


                }
                else {

                    azimuthEndAPLat = convertUptoDecimal6(pos.lat);
                    azimuthEndAPLng = convertUptoDecimal6(pos.lng);

                    //set second AP color
                    var secondAPIcon = L.icon({
                        iconUrl: '../../images/marker-iconSecondAP.png'
                    });
                    isAzimuthCalcInProgressFirst = true;

                    marker.setIcon(secondAPIcon);


                }
                if (azimuthEndAPLat != null && azimuthStartAPLat != null) {
                    var point1 = turf.point([azimuthStartAPLng, azimuthStartAPLat]);
                    var point2 = turf.point([azimuthEndAPLng, azimuthEndAPLat]);

                    var bearing = turf.bearing(point1, point2);
                    var azimuth = turf.bearingToAzimuth(bearing);
                    azimuth = convertUptoDecimal2(azimuth);
                    var azimuthtext = azimuth + $('#lblDegree').html();

                    var latlang = [
                        [azimuthStartAPLat, azimuthStartAPLng], [azimuthEndAPLat, azimuthEndAPLng]
                    ];
                    var azimuthLineOptions = { color: 'red', weight: 2, opacity: .7, dashArray: '10,5', lineJoin: 'round' };
                    azimuthLine = L.polyline(latlang, azimuthLineOptions);
                    azimuthLine.bindTooltip(azimuthtext, { permanent: true });
                    azimuthLine.addTo(m);

                }
            }
        }
    }
</script>

<script type="text/javascript">

    var isSectorClick = false;

    //function showCalculateDeclinationfn() {
    //    $('#var').html('');
    //    $('#lat').val($('#lblPopupLat').text());
    //    $('#lon').val($('#lblPopupLng').text());

    //    $('#modalPopupTitle').text('CPI Pro - Calculate Declination');

    //    $('#divCalculateDeclination').css('display', 'block');

    //    $('#divCalculateHAAT').css('display', 'none');

    //    $("#loginModal").modal('show');
    //}

    //function showCalculateHAAT() {
    //    $('#txtlat').val($('#lblPopupLat').text());
    //    $('#txtlon').val($('#lblPopupLng').text());

    //    $('#modalPopupTitle').text('CPI Pro - Calculate HAAT');

    //    $('#divCalculateHAAT').css('display', 'block');

    //    $('#divCalculateDeclination').css('display', 'none');

    //    $("#loginModal").modal('show');
    //};


    $(document).ready(function () {



        //navigator.geolocation.getCurrentPosition(function(location) {
        //    alert('test');
        //    console.log(location.coords.latitude);
        //    console.log(location.coords.longitude);
        //    console.log(location.coords.accuracy);
        //});




        $("#btnHideModal").click(function () {

            $('#divCalculateHAAT').css('display', 'none');

            $('#divCalculateDeclination').css('display', 'none');

            $("#loginModal").modal('hide');

        });

    });


    function setfilename(val) {
        fileName = val.substr(val.lastIndexOf("\\") + 1, val.length);

        var fileUpload = $("#files").get(0);
        files = fileUpload.files;
    }


    function getSect(sec) {
        //if (sec < currentMarker.listAPSector.length) {
        //    //isSectorDelete = sec;
        //    $('#DeleteSectorModal').modal('show');
        //}
        //else {
        //    //alert('test');
        //    return false;
        //}
        $('#hdnsector').val(sec);
        isSectorClick = true;
    }

    function AddAPSector(APID) {
        var serialnumber = $('#txtSerialNo').val();
        var sAllAPSectorIds = $('#hdnAllAPSectorId').val();
        $('#divAPPopupNext').find('input[type=text][id^="txtSector"]').each(function () {
            var ids = $(this).attr("id");
            var apsectorid = $('#hdnAPSECTORID_' + ids.replace('txtSector', '')).val();
            var apid = APID;
            var sectornumber = $(this).attr("id").replace('txtSector', '');
            var sectorvalue = $('#' + ids).val();
            sAllAPSectorIds = sAllAPSectorIds.replace(apsectorid + ',', '');
            //alert(sAllAPSectorIds);
            $.ajax({
                url: "../ManageAPParameters/ManageAPSectorNew",
                type: "POST",
                async: false,
                data: {
                    "apsectorid": apsectorid,

                    "apid": apid,

                    "sectornumber": sectornumber,

                    "sectorvalue": sectorvalue,

                    "serialnumber": serialnumber
                },



                success: function (data) {



                    if (data.Result) {



                        //alert('AP saved successfully');



                        //currentMarker.APID = data.APID;



                        //currentMarker.Lat = newlat;



                        //currentMarker.Long = newlong;



                        //currentMarker.Name = name;



                        //currentMarker.Description = desc;



                    }



                },



                error: function (a, b, c) {



                    alert('An error occured. Please try after sometime');



                    //currentMarker = null;



                }



            });



        });
        //alert(sAllAPSectorIds);
        if (isSectorDelete) {
            ReduceAPSector(sAllAPSectorIds);
            $('#hdnAllAPSectorId').val('');
            isSectorDelete = false;
        }
    }


    function NextPopup() {
        var allAPSectorID = '';
        isectorCounter = 0;
        if (isNewAP == false) {
            if (currentMarker.listAPSector.length > 0) {
                if (isSectorClick == false) {
                    $('#hdnsector').val(currentMarker.listAPSector.length);
                    isectorCounter = $('#hdnsector').val();
                }
            };
        }

        $($("body")[0]).append($("#files")[0]);
        sRetainControlValuesNext = $('#txtPopupName').val() + '|' + $('#txtPopupDesc').val() + '|' + $('#lblPopupLat').text() + '|' + $('#lblPopupLng').text();
        $("#divFirst").css("display", "none");

        $("#divAPPopupNext").css("display", "block");
        var htblAPPopupNext = $('#tblAPPopupNext').html('');
        if (isSectorClick) {
            isectorCounter = $('#hdnsector').val();
        }
        var stblAPPopupNext = null;
        var itrCounter = 0;
        if (isNewAP) {
            stblAPPopupNext = '<tr><td colspan="2">Access Point</td></tr> <tr style="color:darkblue;"><td colspan="2"><input id="txtSerialNo" type="text" /> </td></tr>'
        }
        else {
            if (currentMarker.listAPSector.length > 0) {
                stblAPPopupNext = '<tr><td colspan="2">Access Point</td></tr> <tr style="color:darkblue;"><td colspan="2"><input id="txtSerialNo" type="text" value="' + currentMarker.listAPSector[0]["SerialNumber"] + '" /> </td></tr>'
            }
        }
        for (var i = 0; i < isectorCounter; i++) {
            if (itrCounter == 0) {
                stblAPPopupNext += '<tr style="color:darkblue">'
            }
            if (isNewAP) {
                stblAPPopupNext += '<td><input id="txtSector' + (i + 1) + '" type="text" placeholder="sector' + (i + 1) + '" /></td>'
            }
            else {
                if (currentMarker.listAPSector.length > 0) {
                    if (i < currentMarker.listAPSector.length) {
                        stblAPPopupNext += '<td><input id="txtSector' + (i + 1) + '" type="text" value="' + currentMarker.listAPSector[i]["SectorValue"] + '" placeholder="sector' + (i + 1) + '" /></td>'
                        stblAPPopupNext += '<input type="hidden" id="hdnAPSECTORID_' + (i + 1) + '" Value="' + currentMarker.listAPSector[i]["APSectorId"] + '"/>'
                        allAPSectorID += currentMarker.listAPSector[i]["APSectorId"] + ',';
                    }
                    else {
                        stblAPPopupNext += '<td><input id="txtSector' + (i + 1) + '" type="text" placeholder="sector' + (i + 1) + '" /></td>'
                    }

                }
            }
            if (itrCounter == 1) {
                stblAPPopupNext += '</tr >'
            }
            itrCounter = itrCounter == 0 ? itrCounter + 1 : 0
            //itrCounter = itrCounter == 1 ? 0 : itrCounter;
        }
        if (isectorCounter == 1) {
            stblAPPopupNext += '</tr>'
        }

        stblAPPopupNext += '<tr> <td colspan="2"><input type="button" id="btnGoBack" value="Go Back" onclick="GoBackPopup();" /> </td></tr>'
        stblAPPopupNext += '<tr><td colspan="2"> <input type="button" id="btnSave" value="Save" onclick="SaveAPData();" /> </td></tr>'
        //stblAPPopupNext += '<tr><td colspan="2"><span class="lnkbtn" id = "lnkbtnSave"> Save</span></td></tr>'

        $('#tblAPPopupNext').html(stblAPPopupNext);
        allAPSectorID = allAPSectorID.replace(/,\s*$/, "");
        //alert(allAPSectorID);
        //alert($('#hdnAllAPSectorId').val());
        if ($('#hdnAllAPSectorId').val() == '') {
            $('#hdnAllAPSectorId').val(allAPSectorID);
        }
        if (isNewAP) {
            markersCreated._popup.setContent($("#divAPPopupNext").html())
        }
        else {
            if (currentMarker.listAPSector.length > 0) {
                currentMarker._popup.setContent($("#divAPPopupNext").html())
            }
        }
        simagePath = $('#afilename').attr('href');
        //alert(simagePath);
        //markersCreated._popup.setContent($("#divAPPopup").html());
        //alert(sRetainControlValuesNext);
        if (isSectorClick) {
            if (sRetainControlValuesBack.length > 0) {
                var splitValues = sRetainControlValuesBack.split('|');
                $('#txtSerialNo').val(splitValues[0]);
                //$('#txtSector1').val(splitValues[1]);
                //$('#txtSector2').val(splitValues[2]);
                //$('#txtSector3').val(splitValues[3]);
            }

        }

        else {
            if (sRetainControlValuesBack.length > 0) {
                var splitValues = sRetainControlValuesBack.split('|');
                $('#txtSerialNo').val(splitValues[0]);
                for (var r = 1; r <= isectorCounter; r++) {
                    $('#txtSector' + r).val(splitValues[r]);  // To DO
                }

            }
        }

        //isSectorClick = false;
    }



    function GoBackPopup() {

        sRetainControlValuesBack = $('#txtSerialNo').val() + '|' + $('#txtSector1').val() + '|' + $('#txtSector2').val() + '|' + $('#txtSector3').val();
        $('#trExistingLat').hide();
        isSectorClick = false;//Added
        $('#trExistingLng').hide();
        $("#divAPPopupNext").css("display", "none");
        $("#divFirst").css("display", "block");
        if (isNewAP) {
            markersCreated._popup.setContent($("#divFirst").html())
        }
        else {
            if (currentMarker.listAPSector.length > 0) {
                currentMarker._popup.setContent($("#divFirst").html())
            }
        }
        $($("#tdfileUpload")[0]).append($("#files")[0]);

        //markersCreated._popup.setContent($("#divAPPopup").html());
        if (sRetainControlValuesNext.length > 0) {
            var splitValues = sRetainControlValuesNext.split('|');
            $('#txtPopupName').val(splitValues[0]);
            $('#txtPopupDesc').val(splitValues[1]);
        }
        $('#afilename').text(currentMarker.ImageSHPPath);

        $('#lblPopupLat').text(currentMarker.Lat);
        $('#lblPopupLng').text(currentMarker.Long);

        if (fileName.length > 0) {
            $('#filename').html(fileName);
        }
    }


    $('#btnDeleteSector').click(function () {
        isSectorDelete = true;
    });

    function ReduceAPSector(apSectorId) {
        //alert(apSectorId);
        var apID = $('#hdnAPID').val();

        $.ajax({

            url: "../ManageAPParameters/ReduceManageAPNew",

            data: { "apID": apID, "apSectorId": apSectorId },

            success: function (data) {
                if (data.Result) {
                    alert('APSector deleted successfully');
                    //m.removeLayer(currentMarker);
                }
            },
            error: function (a, b, c) {
                alert('An error occured. Please try after sometime');
            }
        });
    }

    function RecenterIcon() {
        //map = L.map('map', {doubleClickZoom: false}).locate({setView: true, maxZoom: 16});
         m.locate({setView: true, maxZoom: 16,watch:true}); //to work need https enable 
    }
</script>